.skill[data-skill-id="1"] {
    left: 440px;
    top: 10px;
}

.skill[data-skill-id="2"] {
    left: 320px;
    top: 135px;
}

.skill[data-skill-id="3"] {
    left: 220px;
    top: 135px;
}

.skill[data-skill-id="4"] {
    left: 320px;
    top: 385px;
}

.skill[data-skill-id="5"] {
    left: 220px;
    top: 385px;
}

.skill[data-skill-id="6"] {
    left: 400px;
    top: 135px;
}

.skill[data-skill-id="7"] {
    left: 400px;
    top: 260px;
}

.skill[data-skill-id="8"] {
    left: 480px;
    top: 135px;
}

.skill[data-skill-id="9"] {
    left: 480px;
    top: 260px;
}

.skill[data-skill-id="10"] {
    left: 480px;
    top: 385px;
}