body {
    margin: 0;
    padding: 0;
    color: #eee;
    background: #000000 top center no-repeat;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 1.5em;
}

a {
    color: #Fe9;
}

hr {
    border: 0;
    height: 1px;
    background: #333;
}

h2,
h3,
.h2,
.h3 {
    line-height: 1.25em;
    font-weight: normal;
    margin: 0;
}

h2,
.h2 {
    font-size: 2em;
}

h3,
.h3 {
    font-size: 1.5em;
    margin-bottom: 0.25em;
}

ul {
    list-style: none;
    margin: 20px 0 0;
    padding: 0;
}

li {
    margin: 0;
    padding: 0;
}

.page {
    margin: 0 auto;
    position: relative;
    width: 910px;
}

.skill {
    width: 80px;
    height: 80px;
    position: absolute;
}

.skill .icon-container {
    position: absolute;
    background: black;
    width: 60px;
    height: 60px;
    padding: 5px;
    top: 5px;
    left: 5px;
    border-radius: 8px;
    box-shadow: 0 6px 11px #000000;
    overflow: hidden;
}

.skill .frame {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../images/sprite.png) no-repeat top left;
}

.skill .frame:hover .tool-tip {
    visibility: visible;
    opacity: 1;
    transition: all 0.3s 0.3s ease-out;
}

.skill .hit-area {
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 2;
}

.skill.can-add-points .frame {
    background-position: -80px top;
}

.skill.can-add-points .skill-dependency {
    opacity: 1;
}

.skill.has-points .icon {
    opacity: 1;
}

.skill.has-max-points .frame {
    background-position: -160px top;
}

.skill.has-max-points .skill-dependency {
    opacity: 1;
}

.skill .skill-points {
    position: absolute;
    z-index: 1;
    bottom: 5px;
    right: 5px;
    color: white;
    font-size: 11px;
    line-height: 1em;
    width: 19px;
    text-align: center;
}

.skill .tool-tip {
    visibility: hidden;
    opacity: 0;
    border-radius: 8px;
    background: #000;
    position: absolute;
    z-index: 3;
    top: 5px;
    left: 80px;
    width: 300px;
    padding: 10px;
    box-shadow: 0 6px 11px #000000;
    border: 1px solid #333;
}

.skill .tool-tip .current-rank-description {
    color: #FC3;
}

.skill .tool-tip .next-rank-description {
    opacity: 0.35;
    color: #FC3;
}

.skill .tool-tip .talent-summary {
    color: #FC3;
}

.skill .tool-tip .help-message {
    color: #c00;
}

/**************************************************
	TOOLTIPS
**************************************************/
[data-skill-id="10"] .tool-tip,
[data-skill-id="11"] .tool-tip,
[data-skill-id="12"] .tool-tip,
[data-skill-id="13"] .tool-tip,
[data-skill-id="14"] .tool-tip,
[data-skill-id="15"] .tool-tip,
[data-skill-id="16"] .tool-tip,
[data-skill-id="10"] .tool-tip,
[data-skill-id="17"] .tool-tip,
[data-skill-id="24"] .tool-tip,
[data-skill-id="25"] .tool-tip {
    left: -320px;
}

.start-helper {
    background: url(../images/red-arrow.png) no-repeat left center;
    padding-left: 55px;
    position: absolute;
    top: 30px;
    left: 530px;
    opacity: 0;
    filter: alpha(opacity=0);
}

.start-helper.active {
    opacity: 1;
}